<div class="row sk-1st pdtp-20 pdhr-20 pdbt-40 mobile-pd-10">
  <% for (var i = 0; i < cols.length; i++) { %>
  <div class="col-47-200 mglt-1-50 mobile-mglt-0">
    <% var products = cols[i] %>
    <% for (var j = 0; j < products.length; j++) { %>
    <%   var prd = products[j] %>
    <div js-dom="product" class="row mgtp-20 bg-white sh-md<% if (user) { %> hvsh-wrapper<% } %>">
      <div class="ps-rl">
        <img src="imgs/<%= prd.src %>">
      </div>
      <div class="pd-12 one-line">
        <p><%= prd.title %></p>
        <p js-dom="price" class="ftwt-400">NT$<%= prd.price %></p>
        <p js-dom="id" class="pdbt-12"><%= prd.id %></p>
        <p title="<%= prd.description %>">
          <%= prd.description %>
        </p>
      </div>
    </div>
    <% } %>
  </div>
  <% } %>
</div>